
#taskBox{
    -fx-pref-height: 54;

}
#taskBox:hover{
    -fx-background-color: lightblue;
}
#taskBox>Label{
    -fx-alignment: center;
    -fx-min-height: 70;
    -fx-pref-width: 150 ;
}
#taskBox>Button{
    -fx-alignment: center;
    -fx-min-height: 70;
    -fx-pref-width: 150 ;
}
#taskBox>CheckBox{
    -fx-alignment: center;
    -fx-min-height: 54;
    -fx-pref-width: 80 ;
    -fx-padding: 0 0 0 30;
}
#taskBox>Label:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
    -fx-cursor: hand;
}
#categoryBox>Label{
    -fx-alignment: center;
    -fx-min-height: 31;
    -fx-min-width: 91;
    -fx-font-size: 19;
}

#labelCategoryBox>Label{
    -fx-alignment: center;
    -fx-min-height: 31;
    -fx-min-width: 91;
    -fx-font-size: 19;
}
#taskBox>Seperator{
    -fx-orientation: horizontal;
    -fx-min-height: 70;
    -fx-pref-width: 1000 ;
    -fx-scale-x: 95;
    -fx-scale-y: 108;
}

#taskBox>AnchorPane{
    -fx-min-height: 3;
}

#leftVBox{
    -fx-alignment: top center;
    -fx-font-size: 40;
}