@font-face {
    src: url('/font/Pixer-Regular.ttf');
}

.root{
    -fx-font-family: "Helvetica Neue";
    -fx-background-color: black;
}

.dialog{
    -fx-font-family: "Pixer Regular";
}

#menuBar{
    -fx-background-color: black;
}

#sideMenu{
    -fx-end-margin: 20 5 5 5;
    -fx-background-color: #0B0C10;
    -fx-text-fill: #d8d8d8;
    -fx-alignment: top-center;
}
.sideMenuCategoryHeader{
    -fx-text-fill: #d8d8d8;
}

.separator{
    -fx-background-color: dimgrey;
    -fx-background-radius: 2;
    -fx-max-width: 70;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.sideMenuButton{
    -fx-background-color: dimgrey;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;

}
.sideMenuButton:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}

.sideMenuCategoryButton{
    -fx-background-color: dimgrey;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;

}
.sideMenuCategoryButton:hover{
    -fx-background-color: grey;
    -fx-cursor: hand;
}