#taskpart{

}
#taskBox{
    -fx-pref-height: 54;
}
#taskBox:hover{
    -fx-pref-height: 54;
    -fx-background-color: lightgrey;
}
#taskBox>Label{
    -fx-alignment: center;
    -fx-min-height: 70;
    -fx-pref-width: 150 ;
}
#taskBox>Button{
    -fx-alignment: center;
    -fx-min-height: 70;
    -fx-pref-width: 150 ;
}
#taskBox>Label:hover{
    -fx-scale-y: 1.2;
    -fx-scale-x: 1.2;
    -fx-cursor: hand;
}