# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\eiha0\Google Drive\NTNU\2. Semester\IDATT1002\Prosjekt\FIks\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
.idea
target
.DS_Store
*.iml
